/* Reset default padding and margin for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigation Bar */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px auto;
  box-shadow: 0 4px 10px #0000001a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.logo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

/* Navigation Links */
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container {
  background-color: #ffffff;
  width: 800px;
  box-shadow: 0 4px 10px #0000001a;
  border-radius: 5px;
  text-align: center;
}

.index-text {
  padding-top: 10px;
  padding-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #333333;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #0077b5;
}

.alternate-container {
  background-color: #ffffff;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 4px 10px #0000001a;
  border-radius: 5px;
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alternate-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer */
footer {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -4px 10px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
}
