body {
  background-color: #D3D3D3;
}

.navbar-brand img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav .nav-link {
  border-radius: 5px;
  color: #000000;
}

.navbar-nav .nav-link:hover {
  background-color: #D3D3D3;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease;
}

.index-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-icons {
  justify-content: center;
  padding-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #333333;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #0077b5;
}

iframe {
  margin: 0;
  padding: 0;
  display: block;
  height: 800px;
  width: 100%;
}